.list {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .list {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}
