.wrapper {
  text-align: center;
  padding: 30px;
}

.location {
  font-size: 38px;
  margin-bottom: 10px;
}

.description {
  font-size: 24px;
  margin-bottom: 20px;
}

.temperature {
  font-size: 84px;
}

.sidebarcard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* adjust as needed */
  background-size: cover;
}


.date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.sidebarcard-text {
  font-size: 2rem;
  color: white;
  text-align: center;
}

