.wrapper {
  text-align: center;
  padding: 30px;
}

.location {
  font-size: 38px;
  margin-bottom: 10px;
}

.description {
  font-size: 24px;
  margin-bottom: 20px;
}

.temperature {
  font-size: 84px;
}

.sidebarcard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%; /* adjust as needed */
  background-size: cover;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebarcardBackground {
  background-image: url('../public/images/sky.jpeg');
}

.sidebarcardText {
  font-size: 2rem;
  color: rgb(40, 39, 39);
  text-align: center;
}


.date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.sidebarcard-text {
  font-size: 2rem;
  color: white;
  text-align: center;
}

